# Node modules
frontend/node_modules/

# Build output
frontend/build/
frontend/dist/


# Virtual environment
backend/venv/

# Python cache files
backend/__pycache__/

backend/migrations/
backend/migrations

backend/static/

backend/.env

.env
